In [28]:
import pandas as pd
import sqlite3

In [29]:
file_path= r'C:\Users\MIHIR_KOSREKAR\OneDrive\Desktop\doing_business_data_analysis\P_Data_Extract_From_Doing_Business.xlsx'
original_df= pd.read_excel(file_path)
original_df.head()

,Country Name,Country Code,Series Name,Series Code,2009 [YR2009],2010 [YR2010],2011 [YR2011],2012 [YR2012],2013 [YR2013],2014 [YR2014],2015 [YR2015],2016 [YR2016],2017 [YR2017],2018 [YR2018],2019 [YR2019]
0,Singapore,SGP,Dealing with construction permits (DB06-15 met...,IC.CNST.PRMT.DFRN.DB0615,82.73673,82.74383,82.803,82.85477,82.87985,80.89801,..,..,..,..,..
1,Singapore,SGP,Dealing with construction permits (DB16-20 met...,IC.CNST.PRMT.DFRN.DB1619,..,..,..,..,..,80.67351,80.68634,83.74584,84.69304,84.73042,87.86398
2,Singapore,SGP,Dealing with construction permits: Building qu...,IC.DCP.BQC.XD.015.DB1619,..,..,..,..,..,12,12,12,12,12,13
3,Singapore,SGP,Dealing with construction permits: Building qu...,IC.CNST.PRMT.BQCI.015.DB1619.DFRN,..,..,..,..,..,80,80,80,80,80,86.66667
4,Singapore,SGP,Dealing with construction permits: Cost (% of ...,IC.CNST.PRMT.COST.WRH.VAL,3.4,3.4,3.4,3.4,3.4,3.4,3.4,3.4,3.4,3.4,3.3

In [30]:
original_df.columns.tolist()

['Country Name',
 'Country Code',
 'Series Name',
 'Series Code',
 '2009 [YR2009]',
 '2010 [YR2010]',
 '2011 [YR2011]',
 '2012 [YR2012]',
 '2013 [YR2013]',
 '2014 [YR2014]',
 '2015 [YR2015]',
 '2016 [YR2016]',
 '2017 [YR2017]',
 '2018 [YR2018]',
 '2019 [YR2019]']

In [31]:
conn= sqlite3.connect(':memory:')
original_df.to_sql('db_org', conn, index= False, if_exists= 'replace') #'dbsn' is table name here, doing business, used for SQL queries

1940

In [32]:
# Creating function for SQL queries
def run_sql(query: str):
    return pd.DataFrame(pd.read_sql_query(query, conn))

In [33]:
country_df= run_sql('select distinct [Country Name], [Country Code] from db_org')

In [34]:
country_df

     Country Name Country Code
0       Singapore          SGP
1  United Kingdom          GBR
2   Taiwan, China          TWN
3           India          IND
4       Indonesia          IDN
5           Spain          ESP
6       Australia          AUS
7          Poland          POL
8     Philippines          PHL
9   United States          USA

In [35]:
series_df= run_sql('select distinct [Series Name], [Series Code] from db_org')

In [36]:
series_df

,Series Name,Series Code
0,Dealing with construction permits (DB06-15 met...,IC.CNST.PRMT.DFRN.DB0615
1,Dealing with construction permits (DB16-20 met...,IC.CNST.PRMT.DFRN.DB1619
2,Dealing with construction permits: Building qu...,IC.DCP.BQC.XD.015.DB1619
3,Dealing with construction permits: Building qu...,IC.CNST.PRMT.BQCI.015.DB1619.DFRN
4,Dealing with construction permits: Cost (% of ...,IC.CNST.PRMT.COST.WRH.VAL
...,...,...
189,Trading across borders: Time to export: Border...,TRD.ACRS.BRDR.EXPT.TM.BRDR.COMP.HR.DB1619.DFRN
190,Trading across borders: Time to export: Docume...,TRD.ACRS.BRDR.EXPT.TM.DOC.COMP.HR.DB1619.DFRN
191,Trading across borders: Time to import (days) ...,TRD.ACRS.BRDR.IMP.TM.DY.DB0615.DFRN
192,Trading across borders: Time to import: Border...,TRD.ACRS.BRDR.IMP.TM.BRDR.COMP.HR.DB1619.DFRN
193,Trading across borders: Time to import: Docume...,TRD.ACRS.BRDR.IMP.TM.DOC.COMP.HR.DB1619.DFRN

In [37]:
melted_df= pd.melt(original_df,
                   id_vars= ['Country Name', 'Country Code', 'Series Name', 'Series Code'],
                   value_vars= [col for col in original_df.columns if col not in ['Country Name', 'Country Code', 'Series Name', 'Series Code']],
                   var_name= 'Year',
                   value_name= 'Value')

In [38]:
melted_df['Year']= melted_df['Year'].str[:4]
melted_df= melted_df[melted_df['Value'].str.contains(r'[0-9]', case= False, na= True)].reset_index(drop= True)

In [39]:
melted_df['Year']= melted_df['Year'].astype(int)
melted_df['Value']= melted_df['Value'].astype(float)

In [40]:
melted_df

,Country Name,Country Code,Series Name,Series Code,Year,Value
0,Singapore,SGP,Dealing with construction permits (DB06-15 met...,IC.CNST.PRMT.DFRN.DB0615,2009,82.73673
1,Singapore,SGP,Dealing with construction permits: Cost (% of ...,IC.CNST.PRMT.COST.WRH.VAL,2009,3.40000
2,Singapore,SGP,Dealing with construction permits: Cost (% of ...,IC.CNST.PRMT.COST.WRH.VAL.DFRN,2009,82.80385
3,Singapore,SGP,Dealing with construction permits: Procedures ...,IC.CNST.PRMT.PROC.NO,2009,13.00000
4,Singapore,SGP,Dealing with construction permits: Procedures ...,IC.CNST.PRMT.PROC.NO.DFRN,2009,68.00000
...,...,...,...,...,...,...
13201,United States,USA,Trading across borders: Cost to import: Docume...,TRD.ACRS.BRDR.IMP.COST.DOC.COMP.CD.DB1619.DFRN,2019,85.71429
13202,United States,USA,Trading across borders: Time to export: Border...,TRD.ACRS.BRDR.EXPT.TM.BRDR.COMP.HR.DB1619.DFRN,2019,99.68553
13203,United States,USA,Trading across borders: Time to export: Docume...,TRD.ACRS.BRDR.EXPT.TM.DOC.COMP.HR.DB1619.DFRN,2019,99.70414
13204,United States,USA,Trading across borders: Time to import: Border...,TRD.ACRS.BRDR.IMP.TM.BRDR.COMP.HR.DB1619.DFRN,2019,99.82079
13205,United States,USA,Trading across borders: Time to import: Docume...,TRD.ACRS.BRDR.IMP.TM.DOC.COMP.HR.DB1619.DFRN,2019,97.28033

In [41]:
melted_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13206 entries, 0 to 13205
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Country Name  13206 non-null  object
 1   Country Code  13206 non-null  object
 2   Series Name   13206 non-null  object
 3   Series Code   13206 non-null  object
 4   Year          13206 non-null  int32
 5   Value         13206 non-null  float64
dtypes: float64(1), int32(1), object(4)
memory usage: 567.6+ KB

In [42]:
melted_df.to_sql('db', conn, index= False, if_exists= 'replace')

13206

In [43]:
def whole_df(df: pd.DataFrame):
    pd.set_option('display.max_rows', None)
    pd.set_option('display.max_columns', None)
    display(df)
    pd.reset_option('display.max_rows')
    pd.reset_option('display.max_columns')
    return None

In [44]:
def run_sql(query: str):
    return pd.DataFrame(pd.read_sql(query, conn))

In [45]:
df= run_sql(
    '''
    select * from db where
    [series name] like 'Dealing with construction permits%Score%' or
    [series name] like 'Enforcing contracts%Score%' or
    [series name] like 'Getting credit%Score%' or
    [series name] like 'Getting electricity%Score%' or
    [series name] like 'Global%Score%' or
    [series name] like '%taxes%Score%' or
    [series name] like 'Protecting minority investors%Score%' or
    [series name] like 'Rank%' or
    [series name] like 'Registering property%Score%' or
    [series name] like 'Resolving insolvency%Score%' or
    [series name] like 'Starting a business%Score%' or
    [series name] like 'Time to export%' or
    [series name] like 'Trading across borders%Score%'
    order by [series name], year, value desc
    '''
    )

In [46]:
df= df.loc[:, ['Series Name', 'Series Code', 'Year', 'Country Name', 'Country Code', 'Value']]

In [47]:
df

,Series Name,Series Code,Year,Country Name,Country Code,Value
0,Dealing with construction permits (DB06-15 met...,IC.CNST.PRMT.DFRN.DB0615,2009,United Kingdom,GBR,85.76807
1,Dealing with construction permits (DB06-15 met...,IC.CNST.PRMT.DFRN.DB0615,2009,Australia,AUS,83.68722
2,Dealing with construction permits (DB06-15 met...,IC.CNST.PRMT.DFRN.DB0615,2009,Singapore,SGP,82.73673
3,Dealing with construction permits (DB06-15 met...,IC.CNST.PRMT.DFRN.DB0615,2009,"Taiwan, China",TWN,65.86198
4,Dealing with construction permits (DB06-15 met...,IC.CNST.PRMT.DFRN.DB0615,2009,Spain,ESP,63.31768
...,...,...,...,...,...,...
5861,Trading across borders: Time to import: Docume...,TRD.ACRS.BRDR.IMP.TM.DOC.COMP.HR.DB1619.DFRN,2019,Australia,AUS,98.74477
5862,Trading across borders: Time to import: Docume...,TRD.ACRS.BRDR.IMP.TM.DOC.COMP.HR.DB1619.DFRN,2019,United States,USA,97.28033
5863,Trading across borders: Time to import: Docume...,TRD.ACRS.BRDR.IMP.TM.DOC.COMP.HR.DB1619.DFRN,2019,India,IND,92.10042
5864,Trading across borders: Time to import: Docume...,TRD.ACRS.BRDR.IMP.TM.DOC.COMP.HR.DB1619.DFRN,2019,Philippines,PHL,60.25105
5865,Trading across borders: Time to import: Docume...,TRD.ACRS.BRDR.IMP.TM.DOC.COMP.HR.DB1619.DFRN,2019,Indonesia,IDN,55.97490

In [48]:
df['Series Name'].unique()

array(['Dealing with construction permits (DB06-15 methodology) - Score',
       'Dealing with construction permits (DB16-20 methodology) - Score',
       'Dealing with construction permits: Building quality control index (0-15) (DB16-20 methodology) - Score',
       'Dealing with construction permits: Cost (% of Warehouse value) - Score',
       'Dealing with construction permits: Procedures (number) - Score',
       'Dealing with construction permits: Time (days)  - Score',
       'Enforcing contracts (DB04-15 methodology) - Score',
       'Enforcing contracts (DB17-20 methodology) - Score',
       'Enforcing contracts: Cost (% of claim) - Score',
       'Enforcing contracts: Procedures (number) - Score',
       'Enforcing contracts: Quality of the judicial processes index (0-19) (DB17-20 methodology) - Score',
       'Enforcing contracts: Time (days) - Score',
       'Getting Credit total score (DB05-14 methodology)',
       'Getting Credit total score (DB15-20 methodology)',
       'Getting credit (DB05-14 methodology) - Score',
       'Getting credit (DB15-20 methodology) - Score',
       'Getting credit: Depth of credit information index (0-6) (DB05-14 methodology) - Score',
       'Getting credit: Depth of credit information index (0-8) (DB15-20 methodology) - Score',
       'Getting credit: Strength of legal rights index (0-10) (DB05-14 methodology) - Score',
       'Getting credit: Strength of legal rights index (0-12) (DB15-20 methodology) - Score',
       'Getting electricity (DB10-15 methodology) - Score',
       'Getting electricity (DB16-20 methodology) - Score',
       'Getting electricity: Cost to get electricity (% of income per capita) - Score',
       'Getting electricity: Procedures (number) - Score',
       'Getting electricity: Reliability of supply and transparency of tariff index (0-8) (DB16-20 methodology) - Score',
       'Getting electricity: Time (days) - Score',
       'Global: Ease of doing business score (DB10-14 methodology)',
       'Global: Ease of doing business score (DB15 methodology)',
       'Global: Ease of doing business score (DB17-20 methodology)',
       'Paying taxes (DB06-16 methodology) - Score',
       'Paying taxes (DB17-20 methodology) - Score',
       'Paying taxes: Payments per year (number per year) - Score',
       'Paying taxes: Postfiling index (0-100) (DB17-20 methodology) - Score',
       'Paying taxes: Time (hours per year) - Score',
       'Paying taxes: Time to complete a corporate income tax correction (weeks) (DB17-20 methodology) - Score',
       'Paying taxes: Time to comply with VAT refund (hours) (DB17-20 methodology) - Score',
       'Paying taxes: Time to comply with corporate income tax correction (hours) (DB17-20 methodology) - Score',
       'Paying taxes: Time to obtain VAT refund (weeks) (DB17-20 methodology) - Score',
       'Paying taxes: Total tax and contribution rate (% of profit) - Score',
       'Protecting minority investors (DB06-14 methodology) - Score',
       'Protecting minority investors (DB15-20 methodology) - Score',
       'Protecting minority investors: Ease of shareholder suits index (0-10) (DB06-14 methodology) - Score',
       'Protecting minority investors: Ease of shareholder suits index (0-10) (DB15-20 methodology) - Score',
       'Protecting minority investors: Extent of corporate transparency index (0-7) (DB15-20 methodology) - Score',
       'Protecting minority investors: Extent of director liability index (0-10) - Score',
       'Protecting minority investors: Extent of disclosure index (0-10) - Score',
       'Protecting minority investors: Extent of ownership and control index (0-7) (DB15-20 methodology) - Score',
       'Protecting minority investors: Extent of shareholder rights index (0-6) (DB15-20 methodology) - Score',
       'Rank: Dealing with construction permits (1=most business-friendly regulations)',
       'Rank: Ease of doing business index (1=most business-friendly regulations)',
       'Rank: Enforcing contracts (1=most business-friendly regulations)',
       'Rank: Getting credit (1=most business-friendly regulations)',
       'Rank: Getting electricity (1=most business-friendly regulations)',
       'Rank: Paying taxes (1=most business-friendly regulations)',
       'Rank: Protecting minority investors (1=most business-friendly regulations)',
       'Rank: Registering property (1=most business-friendly regulations)',
       'Rank: Resolving insolvency (1=most business-friendly regulations)',
       'Rank: Starting a business (1=most business-friendly regulations)',
       'Rank: Trading across borders (1=most business-friendly regulations)',
       'Registering property (DB05-15 methodology) - Score',
       'Registering property (DB17-20 methodology) - Score',
       'Registering property: Cost (% of property value) - Score',
       'Registering property: Procedures (number) - Score',
       'Registering property: Quality of land administration index (0-30) (DB17-20 methodology) - Score',
       'Registering property: Time (days) - Score',
       'Resolving insolvency - Score',
       'Resolving insolvency: Recovery rate (cents on the dollar) - Score',
       'Resolving insolvency: Strength of insolvency framework index (0-16) - Score',
       'Starting a business - Score',
       'Starting a business: Cost - Men (% of income per capita) - Score',
       'Starting a business: Cost - Women (% of income per capita) - Score',
       'Starting a business: Paid-in Minimum capital (% of income per capita) - Score',
       'Starting a business: Procedures required - Men (number) - Score',
       'Starting a business: Procedures required - Women (number) - Score',
       'Starting a business: Time - Men (days) - Score',
       'Starting a business: Time - Women (days)- Score',
       'Time to export (days) (DB06-15 methodology)',
       'Time to export: Border compliance (hours) (DB16-20 methodology)',
       'Time to export: Documentary compliance (hours) (DB16-20 methodology)',
       'Trading across borders (DB06-15 methodology) - Score',
       'Trading across borders (DB16-20 methodology) - Score',
       'Trading across borders: Cost to export (US$ per container) (DB06-15 methodology) - Score',
       'Trading across borders: Cost to export: Border compliance (USD) (DB16-20 methodology) - Score',
       'Trading across borders: Cost to export: Documentary compliance (USD) (DB16-20 methodology) - Score',
       'Trading across borders: Cost to import (US$ per container)(DB06-15 methodology) - Score',
       'Trading across borders: Cost to import: Border compliance (USD) (DB16-20 methodology) - Score',
       'Trading across borders: Cost to import: Documentary compliance (USD) (DB16-20 methodology) - Score',
       'Trading across borders: Documents to export (number) (DB06-15 methodology) - Score',
       'Trading across borders: Documents to import (number) (DB06-15 methodology) - Score',
       'Trading across borders: Time to export (days) (DB06-15 methodology) - Score',
       'Trading across borders: Time to export: Border compliance (hours) (DB16-20 methodology) - Score',
       'Trading across borders: Time to export: Documentary compliance (hours) (DB16-20 methodology) - Score',
       'Trading across borders: Time to import (days) (DB06-15 methodology) - Score',
       'Trading across borders: Time to import: Border compliance (hours) (DB16-20 methodology) - Score',
       'Trading across borders: Time to import: Documentary compliance (hours) (DB16-20 methodology) - Score'],
      dtype=object)

In [49]:
df.to_excel('cleaned_and_processed_data.xlsx')